* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #262626;
    background-color: #EFEBED;
}

.box {
    margin-top: 2%;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 15%;
}

.banner {
    width: 50%;
    margin-left: 7%;
}

.nav {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-left: 10%;
    margin-right: 5%;
    align-items: end;
}

.button {
    bottom: 35px;
    text-align: center;
    font-size: 20px;
    font-family: 'Raleway Bold', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    flex-basis: auto;
    margin-bottom: 35px;
    margin-right: 10%;
    color: #770000;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

.content {
    display: grid;
    grid-template-columns: 100% 100% 100% 100%;
    grid-template-rows: 100%;
    overflow: hidden;
    margin-top: 2.5%;
}

.page {
    transition-duration: 1000ms;
    transform: translate(0%);
    padding: 0 20%;
}

.testimonials {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.testimonials .review {
    flex: 40%;
    max-width: 40%;
}

.review {
    vertical-align: middle;
    padding: 0 5% 2%;
    margin: 0;
    font-family: 'Taviraj', serif;
}

.review .text {
    font-size: 20px;
    margin: 0;
}

.author {
    padding-top: 5px;
    font-style: italic;
    font-size: 16px;
    color: #770000;
}

.pictures {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    margin: 50px 10px;
}

.picture {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    text-align: center;
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    position: relative;
}

.map {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    margin: 10px;
}

.display {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    text-align: center;
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    position: relative;
}

.about {
    font-size: 20px;
    text-align: justify;
    font-family: 'Taviraj', sans-serif;
}

.blurb {
    font-size: 20px;
}

.classes {
    border-spacing: 0;
    margin: 10px;
}

.row {
    margin: 0;
}

.year {
    margin: 10px;
    padding: 12px 50px 0 0;
    vertical-align: top;
    font-family: 'Raleway Bold', sans-serif;
    color: #770000;
    font-weight: bold;
}

.data {
    margin: 0;
    padding: 10px;
    vertical-align: top;
}

.about {
    font-size: 16px;
}

.footer {
    height: 10px;
}
