{% extends 'base.html' %}

{% block body %}
    <div class="about">
        Hi!
        I'm Diana, "The Hair Doctor". I've been in the business for over 25 years and I'm proud to say,
        I still have some of the same clients I've had for all these years! I love my clientele.

        I finished beauty school in 1981, but didn't stop learning there! Here are just some of the classes I have attended throughout the years:

        <table>
            <tr>
                <td>1985 - 1994</td>
                <td>
                    Became manager of a salon 2 years after graduation, attending product and hair cutting classes
                    throughout. <br>
                    Advanced seminar with Trevor Sorber in 1985 <br>
                    Attended every Armstrong McCall yearly event in Texas from 1985-1994 <br>
                </td>
            </tr>
            <tr>
                <td>1995</td>
                <td>Beth and Carmen Minardy Color Class</td>
            </tr>
            <tr>
                <td>1996</td>
                <td>Roy Peters Color My World in 1996 Redken Specialty Classes 1996-1997</td>
            </tr>
            <tr>
                <td>1997</td>
                <td>
                    Became Redken Specialist and Performing Artist <br>
                    Roy Peters Color My World class <br>
                    Beth and Carmen Minardy Advanced Color Class <br>
                </td>
            </tr>
        </table>


        My promise to my clients is: "I'll never stop learning!" I've got experience from feathers to texture - razor cuts, scissor cuts - perms - straightening - highlights, lowlights, panels, and foiling. In my 25+ years of "doing hair", I haven't seen many hair disasters that I couldn't fix. Before you despair, come see me!

        I am an independent stylist who believes in giving my clients great service at affordable prices.
    </div>
{% endblock %}