<div class="page about">
    <div class="about">
        I'm Diana, "The Hair Doctor". I've been in the business for over 25 years, and I'm proud to say that
        I still have some of the same clients I've had for all these years! I love my clientele.

        I finished beauty school in 1981, but didn't stop learning there! Here are just some of the classes I have
        attended throughout the years:

        <table class="classes">
            <tr class="row">
                <td class="year">1985 - 1994</td>
                <td class="data">
                    Became manager of a salon 2 years after graduation, attending product and hair cutting classes
                    throughout <br>
                    Advanced seminar with Trevor Sorber in 1985 <br>
                    Attended every Armstrong McCall yearly event in Texas from 1985-1994 <br>
                </td>
            </tr>
            <tr class="row">
                <td class="year">1995</td>
                <td class="data">
                    Beth and Carmen Minardy Color Class <br>
                </td>
            </tr>
            <tr class="row">
                <td class="year">1996</td>
                <td class="data">
                    Roy Peters Color My World in 1996 Redken Specialty Classes 1996-1997 <br>
                </td>
            </tr>
            <tr class="row">
                <td class="year">1997</td>
                <td class="data">
                    Became Redken Specialist and Performing Artist <br>
                    Roy Peters Color My World class <br>
                    Beth and Carmen Minardy Advanced Color Class <br>
                </td>
            </tr>
            <tr class="row">
                <td class="year">2000</td>
                <td class="data">
                    Alteri Power Cut hands on workshop <br>
                    Alteri Advanced Cutting Academy <br>
                    RDA Fiesta 3000 <br>
                </td>
            </tr>
            <tr class="row">
                <td class="year">2003</td>
                <td class="data">
                    Rusk: Advanced Hair Cutting <br>
                    ISO Neo Texture Wave class <br>
                    Advanced Power Cutting <br>
                    Board Certified Colorist Summit (Los Angeles) <br>
                    Parker Advanced Ponytail Cutting Class <br>
                    Parker Color Class at The Hair Doctor Salon <br>
                </td>
            </tr>
            <tr class="row">
                <td class="year">2004</td>
                <td class="data">
                    The Parker Beauty Show <br>
                    Lanza Healing Haircare with Osca Bond <br>
                    Armstrong McCall Show, August <br>
                    Parker Alfapar Class, November <br>
                </td>
            </tr>
            <tr class="row">
                <td class="year">2005</td>
                <td class="data">
                    Armstrong McCall Unforgettable <br>
                    Princess Sahag Advanced Cutting Class <br>
                </td>
            </tr>
            <tr class="row">
                <td class="year">2006</td>
                <td class="data">
                    Armstrong McCall Show <br>
                    RDA 2006 Hair, Skin and Nails <br>
                </td>
            </tr>
            <tr class="row">
                <td class="year">2007</td>
                <td class="data">
                    Armstrong McCall World's Fair <br>
                </td>
            </tr>
            <tr class="row">
                <td class="year">2008</td>
                <td class="data">
                    Elite Sanitation Class <br>
                </td>
            </tr>
            <tr class="row">
                <td class="year">2009</td>
                <td class="data">
                    Armstrong McCall Worlds Fair of Cosmetic Arts and Sciences <br>
                    Modern Salon Learning <br>
                </td>
            </tr>
            <tr class="row">
                <td class="year">2011</td>
                <td class="data">
                    August - Armstrong McCall Show San Antonio, TX <br>
                    October - Sanitation Class <br>
                </td>
            </tr>
            <tr class="row">
                <td class="year">2012</td>
                <td class="data">
                    June - Aquqage Class, hands on <br>
                    August - Worlds Fair of Hair, Austin, TX <br>
                </td>
            </tr>
        </table>


        My promise to my clients is that I'll never stop learning! I've got experience from feathers to texture -
        razor cuts, scissor cuts - perms - straightening - highlights, lowlights, panels, and foiling.
        In my 25+ years of doing hair, I haven't seen many hair disasters that I couldn't fix.
        Before you despair, come see me!

        I am an independent stylist who believes in giving my clients great service at affordable prices.
    </div>
</div>
