<div class="page home">
    <div class="review">
        <div class="text">
            In a town that's notorious for hair care, Diana The Hair Doctor has a reputation for greatness.
            This city's resident hair wizard has been practicing her special brand of hair magic for more than 20 years,
            and has cut, styled, colored and groomed the tresses of many San Antonio women. This fine beautician has a
            devoted clientele that is as appreciative of her gracious customer service as they are enamored of her deft
            hair design. The salon caters to its loyal customers by offering flexible appointments, free consultations
            and affordable prices. The hair-wounded need no look any further for relief: Diana The Hair Doctor is near!
        </div>
        <div class="author">
            —Michael Martin, Digital City
        </div>
    </div>
    <div class="pictures">
        <div class="picture">
            Picture Grid
        </div>
    </div>
</div>
