<div class="page testimonials">
    <div class="review">
        <div class="text">
            Diana is amazing! She has been a good friend to me for many years. She is so beautiful inside and out!
            Sweet, caring, and cares about all her loyal customers. She can work miracles.
            She is very reasonable and such a blessing to me and all the ladies in San Antonio.
            You will adore her like me!
        </div>
        <div class="author">
            —Chrissy Adams
        </div>
    </div>
    <div class="review">
        <div class="text">
            I have been going to Diana for over 20 years and have always been satisfied.
            I can describe the cut or look I want, and she can execute it to a T.
            I would never trust my hair to anyone else.
            There are times when I need a cut at the last minute, and she has never disappointed me in working it
            into her schedule.
        </div>
        <div class="author">
            —Sharlene
        </div>
    </div>
    <div class="review">
        <div class="text">
            Diana is a marvelous stylist and colorist.
            She loves her job and keeps up to date on current trends while working
            from a sound base of talent and knowledge. If it has to do with hair, Diana is the one to do it.
            Whether you want hair with attitude, or a classic style,
            color to catch someone's eye or color to cover gray, curls or straight, Diana is able and enthusiastic.
            She is a top-notch talent without the snooty personality we so often encounter.
            She's your hair's best friend, and you'll love her, too. Give her a try; you will not be disappointed!
        </div>
        <div class="author">
            —Jeffthurston
        </div>
    </div>
    <div class="review">
        <div class="text">
            I am so happy with my new hairstyle. Diana is very knowledgeable. She is also extremely dependable.
            Even though she had a recent personal family crisis, she was there to fix my hair
            (as the mother of the groom), and she had no other appointments scheduled.
            I would have figured something out if she had called me,
            but I appreciated so much her dedication to her clients. We recently moved to another town.
            I am seriously considering making a 2-hour drive back to San Antonio to keep my hair cut
            in a way that I can easily manage.
        </div>
        <div class="author">
            —Carolyn Sparks
        </div>
    </div>
    <div class="review">
        <div class="text">
            Diana has been doing my hair for over 15 years, my husband's for 10 years,
            and both my kids since they were born. Her dedication to our happiness,
            in addition to her flexible hours, guarantees our imminent return.
            I don't know what we would do without her.
        </div>
        <div class="author">
            —Chris Robinson
        </div>
    </div>
    <div class="review">
        <div class="text">
            Hey! I am so excited! It has been 15 hours since my "new do," and I love it.
            I have had at least a dozen compliments this morning. Wow! That makes me feel great!
            Especially being a new mommy. I felt like I was a boring and simple mommy, but after Diana,
            I am more like a hot momma! Thanks again, Diana, for another AWESOME outcome,
            and I cannot wait for our next hair adventure.
        </div>
        <div class="author">
            —Hairlimmer
        </div>
    </div>
    <div class="review">
        <div class="text">
            I have lived in San Antonio for 16 years,
            and have never been to a hair salon where the stylist is more knowledgeable than Diana is.
            She will stay open late to make time for the customers that can't make it during regular hours.
            She always makes you feel at home and will work with you to make your visit a pleasing one.
            I don't know if she has a guarantee, but she doesn't need one.
            So if you are looking for a change in stylists, be sure to give her a try, you won't be disappointed.
        </div>
        <div class="author">
            —Fogfh
        </div>
    </div>
    <div class="review">
        <div class="text">
            Diana, by far, is the best stylist I have ever been to.
            This is the only place I know of where 'you get what you pay for' is absolutely incorrect.
            You get way MORE than what you pay for! It is not cheap these days to maintain our beauty,
            but with Diana's very reasonable prices, it makes it worthwhile!
            She is a very knowledgeable lady with great ability.
            She has an excellent eye for the outcome of any 'project' or 'change' you are considering.
            Most importantly, she is an honest, hard worker!
        </div>
        <div class="author">
            —Hairlimmer
        </div>
    </div>
    <div class="review">
        <div class="text">
            Diana has the expertise to do any style or color that you so desire.
            She is awesome! From start to finish, you will be amazed.
            If you want the best cut, style & color, visit her soon. I know you'll return.
            Not to mention, she's a wonderful lady.
        </div>
        <div class="author">
            —JMMG
        </div>
    </div>
    <div class="review">
        <div class="text">
            Diana has been styling my hair for 15 years now.
            I just have a seat in her chair and let her work her magic. I trust her to do anything!
            I know I will look good when I leave. I am always getting compliments on my styles,
            and I have referred many people to her, and they love her! She truly is a hair doctor!
        </div>
        <div class="author">
            —Ventlynn
        </div>
    </div>
    <div class="review">
        <div class="text">
            Diana has been doing my hair for at least 15 years. She is the only one that is allowed to touch it.
            She can work miracles on fine hair.
            She makes every haircut or style or whatever you might need an enjoyable experience.
            She has the best personality and is very easy to get along with.
            I recommend Diana to everyone I know, and I recommend her to you.
            She is simply the best hair doctor in San Antonio (or anywhere else for that matter).
        </div>
        <div class="author">
            —Ymmat514
        </div>
    </div>
    <div class="review">
        <div class="text">
            Diana is a talented stylist—always up on what's in.
            She is great at pleasing her customers and has many style books in her shop
            if you aren't sure exactly what you want.
            She's very knowledgeable about hair products and can work miracles with fine hair.
            She is very reasonable, and I promise you'll be happy. If not, she'll work with you until you are.
            Don't miss out!
        </div>
        <div class="author">
            —Evermanjdbc4
        </div>
    </div>
</div>
